section.home-1-slider
    // Main Swiper container
    .swiper-container
        // Additional required wrapper
        .swiper-wrapper
            // Slides
            .swiper-slide
                img(src="./img/banner1.png", alt="Banner 1")
                .slide-text
            .swiper-slide
                img(src="https://cdn-media.sforum.vn/storage/app/media/anh-dep-68.jpg", alt="Banner 2")
                .slide-text
            .swiper-slide
                img(src="https://images2.thanhnien.vn/528068263637045248/2024/1/25/e093e9cfc9027d6a142358d24d2ee350-65a11ac2af785880-17061562929701875684912.jpg", alt="Banner 3")
                .slide-text
            .swiper-slide
                img(src="https://cdn-media.sforum.vn/storage/app/media/anh-dep-80.jpg", alt="Banner 4")
                .slide-text
        
        // Optional: Add navigation buttons
        .swiper-button-prev(class="text-gray-400")
        .swiper-button-next(class="text-gray-400")

    // Custom Pagination
    .home-1-pagination
        .pagination-item
            .text Tiêu điểm
            .underline
        .pagination-item
            .text Đời sống
            .underline
        .pagination-item
            .text Công nghệ
            .underline
        .pagination-item
            .text Sáng tạo
            .underline
    .slier-fix(class="fixed rem:top-[30%] right-3 z-1000")
        ul
            li
                a(href="") 
            li
                a(href="") 
            li
                a(href="") 
            li
                a(href="")
            li
                a(href="")
        