footer(class="w-full bg-[#41924F] h-auto xl:rem:h-[860px] relative overflow-hidden")
    // Desktop Footer
    div(class="hidden xl:block")
        .fire(class="absolute z-1 w-auto h-full")
            img(src="./img/ngonlua.png", alt="")
        .footer-top
            .footer-top-item_1(class="flex justify-between ")
                .container-text(class="py-3")
                    h1(class="rem:w-[601px] rem:h-[94px] rem:text-[36px] text-white") Mạng lưới vững mạnh, phát triển đồng hành. Liên kết để bứt phá
                .container-img(class=" rem:w-[840px] rem:h-[128px] flex gap-10 ml-10")
                    img(src="./img/logo2.png", alt="")
                    img(src="./img/logo3.png", alt="")
                    img(src="./img/logo4.png", alt="")
        .footer-line(class="w-full h-[1px] bg-slate-300 mt-2")
        .footer-top-item_2(class="flex justify-between flex-col")
            div(class="flex justify-between xl:flex-row flex-col")
                .item-top_2
                    .footer-top-title 
                        h1 Công ty cổ phần kết cấu 
                        h1 Kim loại và lắp máy dầu khí
                    .footer-top-body 
                        ul
                            li(class="rem:w-[320px]")
                                p <i class="fa-solid fa-location-dot"></i> 02 Nguyễn Hữu Cảnh, P.Thắng Nhất, TP Vũng Tàu, Việt Nam
                            li
                                p <i class="fa-solid fa-phone"></i> (84-254) 3 848 229
                            li
                                p  <i class="fa-solid fa-phone-office"></i> (84-254) 3 848 
                            li
                                p <i class="fa-solid fa-envelope"></i> ducduyvo3@gmail.com
                    .icon-item_2(class="mt-8")
                        ul(class="flex gap-3")
                            li
                                a(href="") <i class="fa-brands fa-facebook "></i>
                            li
                                a(href="") <i class="fa-brands fa-youtube"></i>
                            li
                                a(href="") <i class="fa-brands fa-linkedin"></i>
                            li
                                a(href="") <i class="fa-solid fa-envelope"></i>
                .item-top_2
                    .footer-top-title 
                        h1 Liên kết nhanh
                        
                    .footer-top-body 
                        ul
                            li
                                a(href="") Giới thiệu
                            li
                                a(href="") Lĩnh vực hoạt động
                            li
                                a(href="") Dự án tiêu biểu
                            li
                                a(href="") ESG
                            li
                                a(href="") Tin tức - Thư Viện
                            li
                                a(href="") Liên hệ
                            li
                                a(href="") Quan hệ cổ đông
                .item-top_2
                    .footer-top-title 
                        h1 Lĩnh vực hoạt động
                        
                    .footer-top-body 
                        ul
                            li
                                a(href="") Khảo sát thiết kế
                            li
                                a(href="") Xây dựng coonh trình
                            li
                                a(href="") Sản xuấ thiết bị cơ khí
                            li
                                a(href="") Chế tạo và cung cấp ống thép phụ kiên
                            li
                                a(href="") Lắp đặt hệ thông thiết bị công nghiệp
                            li
                                a(href="") Đầu tư xây dựng và khai thác
                            li
                                a(href="") Đóng tàu đóng dàn khoan
                            li
                                a(href="") Kinh doanh và đào tạo
                .item-top_2
                    .footer-top-title 
                        h1 Đăng ký nhận thông tin
                        
                    .footer-top-body 
                        ul
                            li(class="rem:w-[390px]")
                                p Nhập email của bạn để nhận thông tin sớm nhất của chúng tôi 
                            li(class="flex")
                                input(type="text" placeholder="      Email...")
                                button.button-send Gửi <i class="fa-solid fa-chevron-right"></i>
                            li 
                                div 
                                    img(src="./img/logo5.png", alt="")
                                    img(src="./img/logo6.png", alt="")
                                    img(src="./img/logo7.png", alt="")
            .footer-line(class="w-full h-[1px] bg-slate-300 mt-10 ")
            .desgin(class=" flex justify-between xl:flex-row flex-col")
                div(class="py-5")
                    h1(class="text-white font-light rem:text-[16px]") © 2025 PVC-MS. All Rights Reserved. Thiết kế web bởi Cánh Cam. 
                .policy(class="py-5 flex gap-2")
                    h4 Điều khoản sử dụng
                    h4 Chính sách bảo mật

    // Mobile Footer
    div(class="block xl:hidden p-4")
        .footer-top-item_2(class="flex flex-col gap-8 text-white")
            // Cột 1
            .item-top_2
                .footer-top-title.mb-3 
                    h1(class="font-semibold text-lg") Công ty cổ phần kết cấu
                    h1(class="font-semibold text-lg") Kim loại và lắp máy dầu khí
                .footer-top-body
                    ul(class="space-y-2 text-sm leading-relaxed")
                        li
                            p <i class="fa-solid fa-location-dot"></i> 02 Nguyễn Hữu Cảnh, P.Thắng Nhất, TP Vũng Tàu, Việt Nam
                        li
                            p <i class="fa-solid fa-phone"></i> (84-254) 3 848 229
                        li
                            p  <i class="fa-solid fa-phone-office"></i> (84-254) 3 848 
                        li
                            p <i class="fa-solid fa-envelope"></i> ducduyvo3@gmail.com
                .icon-item_2.mt-5
                    ul(class="flex gap-4 justify-start text-xl")
                        li
                            a(href="#") <i class="fa-brands fa-facebook"></i>
                        li
                            a(href="#") <i class="fa-brands fa-youtube"></i>
                        li
                            a(href="#") <i class="fa-brands fa-linkedin"></i>
                        li
                            a(href="#") <i class="fa-solid fa-envelope"></i>

            // Cột 2: Liên kết nhanh
            .item-top_2
                .footer-top-title.mb-3 
                    h1(class="font-semibold text-lg") Liên kết nhanh
                .footer-top-body
                    ul(class="space-y-2 text-sm")
                        li: a(href="#", class="hover:text-[#41924F]") Giới thiệu
                        li: a(href="#", class="hover:text-[#41924F]") Lĩnh vực hoạt động
                        li: a(href="#", class="hover:text-[#41924F]") Dự án tiêu biểu
                        li: a(href="#", class="hover:text-[#41924F]") ESG
                        li: a(href="#", class="hover:text-[#41924F]") Tin tức - Thư Viện
                        li: a(href="#", class="hover:text-[#41924F]") Liên hệ
                        li: a(href="#", class="hover:text-[#41924F]") Quan hệ cổ đông

            // Cột 3: Lĩnh vực hoạt động
            .item-top_2
                .footer-top-title.mb-3 
                    h1(class="font-semibold text-lg") Lĩnh vực hoạt động
                .footer-top-body
                    ul(class="space-y-2 text-sm")
                        li: a(href="#") Khảo sát thiết kế
                        li: a(href="#") Xây dựng công trình
                        li: a(href="#") Sản xuất thiết bị cơ khí
                        li: a(href="#") Chế tạo và cung cấp ống thép phụ kiện
                        li: a(href="#") Lắp đặt hệ thống thiết bị công nghiệp
                        li: a(href="#") Đầu tư xây dựng và khai thác
                        li: a(href="#") Đóng tàu, dàn khoan
                        li: a(href="#") Kinh doanh và đào tạo

            // Cột 4: Đăng ký nhận thông tin
            .item-top_2
                .footer-top-title.mb-3 
                    h1(class="font-semibold text-lg") Đăng ký nhận thông tin
                .footer-top-body.space-y-3
                    p(class="text-sm") Nhập email của bạn để nhận thông tin sớm nhất của chúng tôi
                    div(class="flex gap-2")
                        input(type="text" placeholder="Email..." class="w-full px-3 py-2 rounded-md text-black outline-none")
                        button(class="bg-[#41924F] px-4 py-2 rounded-md text-white flex items-center gap-1 hover:bg-[#367a41]") 
                            | Gửi 
                            i(class="fa-solid fa-chevron-right")
                    div(class="flex gap-2")
                        img(src="./img/logo5.png", alt="", class="h-8 w-auto")
                        img(src="./img/logo6.png", alt="", class="h-8 w-auto")
                        img(src="./img/logo7.png", alt="", class="h-8 w-auto")

        // Footer cuối
        .footer-line(class="w-full h-[1px] bg-white mt-8")
        .desgin(class="flex flex-col items-center text-center text-sm text-gray-300 gap-3 mt-4")
            h1(class="text-white font-light rem:text-[16px]") © 2025 PVC-MS. All Rights Reserved. Thiết kế web bởi Cánh Cam.
            .policy(class="flex gap-4")
                h4(class="cursor-pointer hover:text-[#41924F]") Điều khoản sử dụng
                h4(class="cursor-pointer hover:text-[#41924F]") Chính sách bảo mật