section.home-4(id="home-4")
    .list
        .item 
            img(src="./img/1.jpg", alt="")
            .content 
                h2 Dự án Chân đế JAKA Gallaf 3
        .item 
            img(src="./img/1.jpg", alt="")
            .content 
                h2 Dự án Chân đế JAKA Gallaf 3
        .item 
            img(src="./img/1.jpg", alt="")
            .content 
                h2 Dự án Chân đế JAKA Gallaf 3
        .item 
            img(src="./img/1.jpg", alt="")
            .content 
                h2 Dự án Chân đế JAKA Gallaf 3
    .container(class="absolute rem:top-[80px] left-36 z-10 flex flex-col items-start gap-6 " )
        .container-title(class="text-white uppercase font-extrabold rem:text-[48px] -md:rem:text[30px] hidden md:block ")
            h1 Dự án
            h1 Công trình tiêu biểu 
        +BtnPrimary()